.activity_single {
    display: grid;
    grid-template-columns: 70% 1fr;
}

.activity_single .main, .activity_single .summary {
    border-radius: 10px;
    box-shadow: var(--wp--preset--shadow--boxshadow);
    overflow: hidden;
    margin: var(--wp--preset--spacing--20);
}

.activity_single .summary {
    height: fit-content;
}
.activity_single .summary .properties {
    padding: var(--wp--preset--spacing--20);
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--20);
}

.activity_single .summary .properties li {
    background-color: var(--faded-black);
    padding: var(--wp--preset--spacing--10);
    border-left: 5px solid var(--wp--preset--color--dark-red);
    line-height: normal;
}

.activity_single .main .content {
    padding: var(--wp--preset--spacing--40);
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--40);
}

.activity_single .main .content .wp-block-post-title {
    margin: 0;
}
.activity_single .main .content .entry-content {
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .activity_single {
        grid-template-columns: 1fr;
    }
    .activity_single .content {
        order: 1;
    }
}