.embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 1rem;
    --slide-size: 100%;
    --text-high-contrast-rgb-value: 49, 49, 49;
    --text-high-contrast: rgb(230, 230, 230);
    --detail-medium-contrast: rgb(234, 234, 234);
    --text-body: rgb(54, 49, 61);

    --slide-spacing-sm: 1.6rem;
    --slide-size-sm: 50%;
    --slide-spacing-lg: 2rem;
    --slide-size-lg: calc(100% / 4);
}

.embla__viewport {
    overflow: hidden;
    margin: 0;
    position: relative;
}

.embla__container {
    backface-visibility: hidden;
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}
@media (min-width: 750px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-sm) * -1);
    }
}
@media (min-width: 1200px) {
    .embla__container {
        margin-left: calc(var(--slide-spacing-lg) * -1);
    }
}

.embla__slide {
    min-width: 0;
    flex: 0 0 var(--slide-size);
    padding-left: var(--slide-spacing);
}

@media (min-width: 750px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-sm);
        padding-left: var(--slide-spacing-sm);
    }
}
@media (min-width: 1200px) {
    .embla__slide {
        flex: 0 0 var(--slide-size-lg);
        padding-left: var(--slide-spacing-lg);
    }
    .news .embla__slide {
        flex: 0 0 var(--slide-size-sm);
        padding-left: var(--slide-spacing-sm);
    }
}

.home-slider .embla__slide {
    flex: 0 0 var(--slide-size);
}

.embla__slide__img {
    aspect-ratio: 9/3;
    object-fit: cover;
}

.home-slider.embla__controls {
    display: grid;
    grid-template-columns: auto 1fr;
    justify-content: end;
    float: right;
    margin: 2px;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50px;
    border: 1px solid white;
}

.embla__buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
    align-items: center;
}
.embla__button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    touch-action: manipulation;
    display: inline-flex;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 3rem;
    height: 3rem;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.embla__button:disabled {
    color: var(--wp--preset-color--contrast);
}
.embla__button__svg {
    width: 35%;
    height: 35%;
    fill: var(--wp--preset--color--base);
}

.slider_content {
    background: var(--wp--preset--color--base);
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--20);
    padding: var(--wp--preset--spacing--20) var(--wp--preset--spacing--40);
    border-left: 5px solid var(--wp--preset--color--dark-red);
}

.slider_image > img{
    max-width: 100%;
    height: auto;
}

.embla__lazy-load.slider_image.has_link {
    cursor: pointer;
}


.embla__lazy-load {
    position: relative;
    height: 100%;
}
.embla__lazy-load__spinner {
    border: 0.4rem solid rgba(var(--text-high-contrast-rgb-value), 0.2);
    border-left: 0.4rem solid var(--text-high-contrast);
    font-size: 1rem;
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    text-indent: -9999em;
    animation: loading 1.1s infinite linear;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
}
.embla__lazy-load__spinner:after {
    border-radius: inherit;
    width: 3rem;
    height: 3rem;
}
.embla__lazy-load__img {
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}
.embla__lazy-load--has-loaded .embla__lazy-load__img {
    opacity: 1;
}
@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.embla__dots {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: calc((2rem - 1.4rem) / 2 * -1);
    gap: 5px;
}
.embla__dot {
    appearance: none;
    background-color: var(--wp--preset--color--dark-red);
    opacity: .4;
    touch-action: manipulation;
    text-decoration: none;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.embla__dot--selected {
    background-color: var(--wp--preset--color--dark-red);
    opacity: 1;
}

.activity {
    padding-bottom: var(--wp--preset--spacing--80);
    padding-top: var(--wp--preset--spacing--80);
}

.news {
    padding-bottom: var(--wp--preset--spacing--80);
    padding-top: var(--wp--preset--spacing--80);
}

/*.activity .embla__viewport:after {*/
/*    content: "";*/
/*    height: 100%;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    right: 0;*/
/*    width: 30px;*/
/*    box-shadow: inset -20px 0px 15px var(--faded-black);*/
/*}*/

/*.activity .embla__viewport:before {*/
/*    content: "";*/
/*    height: 100%;*/
/*    display: block;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 30px;*/
/*    box-shadow: inset 20px 0px 15px var(--faded-black);*/
/*}*/



.activity .embla__viewport, .news .embla__viewport {
    justify-content: center;
}

.activity .embla__container, .news .embla__container {
    margin: auto;

}
.activity .card-header {
    margin: auto;
}

.activity .embla__slide, .news .embla__slide {
    height: max-content;
    max-width: 400px;
    min-width: 400px;
}


.activity .embla__controls, .news .embla__controls {
    display: flex;
    max-width: var(--wp--style--global--content-size);
    justify-content: space-between;
    align-items: center;
}

.activity .embla__dots, .news .embla__dots {
    flex-basis: 40%;
}

.slider-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--wp--preset--spacing--20);
    background-color: var(--wp--preset--color--base);
    box-shadow: var(--wp--preset--shadow--boxshadow);
}

.slider-card img {
    flex-basis: 60%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.activity .slider-card img {
    aspect-ratio: 1/1 auto;
}
.news .slider-card img {
    aspect-ratio: 9/6 auto;
    max-height: 350px;
}

.slider-card .title {
    margin: var(--wp--preset--spacing--20);
}

.slider-card .details {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--10);
    flex-basis: 40%;
    width: 100%;
}

.slider-card .details .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.slider-card .details .info .date, .slider-card .details .info .time {
    padding: var(--wp--preset--spacing--10);
    border-top-style: solid;
    border-top-width: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider-card .details .info .date {
    flex-basis: 60%;
}

.slider-card .details .info .time {
    flex-basis: 40%;
}


@media (max-width: 868px) {
    .activity .embla__viewport, .news .embla__viewport {
        display: block;
    }

    .activity .embla__slide, .news .embla__slide {
        min-width: auto;
    }

    .embla__button, .embla__dot, .embla__dot:after {
        width: 1rem;
        height: 1rem;
    }

    .slider_content {
        padding: var(--wp--preset--spacing--10);
    }
}